<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <% if member_signed_in? %>
        <th>Member</th>
      <% end %>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% if member_signed_in? %>
          <td>@<%= post.member.username %></td>
        <% end %>
        <td><%= post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if member_signed_in? %>
  <%= link_to 'Create New Post Here', new_post_path %>
<% end %>
